# ==========================================
# POSTGRESQL DOCKER COMPOSE CONFIG
# ==========================================
POSTGRES_USER=carz_admin
POSTGRES_PASSWORD=carz_secret_123
POSTGRES_DB=carz_db
POSTGRES_PORT=5432

# ==========================================
# PRISMA ORM & BACKEND DATABASE URL
# ==========================================
DATABASE_URL="postgresql://carz_admin:carz_secret_123@localhost:5432/carz_db?schema=public"

# ==========================================
# PGADMIN (OPCIONAL)
# ==========================================
PGADMIN_DEFAULT_EMAIL=admin@carz.local
PGADMIN_DEFAULT_PASSWORD=admin123

# ==========================================
# PARALLELUM FIPE API
# ==========================================
FIPE_API_BASE_URL="https://parallelum.com.br/fipe/api/v1"

# ==========================================
# NEXTAUTH / SECURITY
# ==========================================
NEXTAUTH_SECRET="carz_super_secret_jwt_key_change_in_production_32chars"
NEXTAUTH_URL="http://localhost:3000"

